{% extends "base.html" %}

{% block title %}
    {% if user_extend.user_type == 'R' %}
    <title>{{ ptr_info.biz_nm }}: 철거해조</title>
    {% elif user_extend.user_type == 'P' %}
    <title>나의 포트폴리오: 철거해조</title>
    {% endif %}
{% endblock %}

{% load static %}
{% block sytle %}
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}" type="text/css" />
{% endblock %}
 
{% block content %}
<section id="info">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% if user_extend.user_type == 'R' %}
                    <!--프로필 사진 추가-->
                    {% if ptr_info.prof_img.image %}
                        <div>
                            <img src="{{ ptr_info.prof_img.url }}" />
                        </div>
                    {% endif %}
                    <h2>{{ ptr_info.biz_nm }}</h2>
                    <h5>활동 지역 : {{ ptr_info.actv_area }}</h5>
                    <h5>주요 서비스 : {{ ptr_info.svc_cd }}</h5>
                {% elif user_extend.user_type == 'P' %}
                    <h4>나의 포트폴리오를 관리해보세요!</h4>
                {% endif %}
            </div>
        </div>
    </div>        
</section>

<section id="detail">
    <div class="container">
        <div class="row">   
            <div class="col-lg-8 mx-auto">
                <div class="row row-cols-1 row-cols-md-3">
                {% for portfolio in portfolios %}
                    <div class="col mb-4">
                        <div class="card h-100">
                            {% for main_image in main_images %}
                                {% if main_image.portfolio_id.id == portfolio.id %}
                                    <img src="{{ main_image.image.url }}" class="card-img-top" alt="..." />
                                {% endif %}
                            {% endfor %}
                            <div class="card-body">
                                <h5 class="card-title">{{ portfolio.title }}</h5>
                                <p class="card-text" id="area">{{ portfolio.area }}</p>
                                <p class="card-text" id="svc">{{ portfolio.svc_cd }}</p>
                                <p class="card-text">{{ portfolio.work_ym }}</p>
                            </div>
                            <div class="card-footer">
                                {% comment %} <small class="text-muted">Last updated 3 mins ago</small> {% endcomment %}
                                <a href="{% url 'portfolio:detail' portfolio.id %}" class="btn btn-link">..more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}