{% extends "base.html" %}

{% block title %}
  <title>User회원가입:철거해조</title>
{% endblock %}

{% load static %}

{% block sytle %}
{% endblock %}
 
{% block content %}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>사용자 회원가입</h1>
        <p class="lead">철거/원복/에어컨 서비스 요청</p>
    </div>
</header>
  
<section id="signup_requester">
    {%if error%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {%endif%}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="POST" action="{% url 'accounts:signup_requester' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!--공통: ID(email)만 입력 가능-->
                    <div class="form-group">
                        <label class="label" for="username">ID(Email)</label>
                        <input class="form-control" type="email" id="username" name="username" placeholder="Email 입력">
                    </div>

                    <!--공통: 닉네임-->
                    <div class="form-group">
                        <label class="label" for="nickname">닉네임</label>
                        <input class="form-control" type="text" id="nickname" name="nickname" placeholder="닉네임 입력">
                    </div>

                    <!--공통: 패스워드-->
                    <div class="form-group">
                        <label class="label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password">
                    </div>

                    <!--공통: 패스워드체크-->
                    <div class="form-group">
                        <label class="label" for="password_check">Password 확인</label>
                        <input class="form-control" type="password" id="password_check" name="password_check">
                    </div>

                    <!--공통: 프로필 이미지-->
                    <div class="form-group">
                        <label class="label" for="prof_img">프로필 이미지</label>
                        <input class="form-control-file" type="file" id="prof_img" name="prof_img">
                    </div>

                    <!--공통: 전화번호-->
                    <div class="form-group">
                        <label class="label" for="tel">전화번호</label>
                        <input class="form-control" type="text" id="tel" name="tel" placeholder="'-' 없이 입력해주세요.">
                    </div>

                    <!--공통: 회원가입버튼-->
                    <button type="submit" class="btn btn-primary">회원가입</button>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

