{% extends "base.html" %}

{% block title %}
  <title>회원가입:철거해줘</title>
{% endblock %}

{% load static %}

{% block sytle %}
{% endblock %}
 
{% block content %}
  
<section id="signup">
    {%if error%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {%endif%}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="POST" action="{% url 'accounts:signup' %}">
                    {% csrf_token %}

                    <h1>회원가입</h1>

                    <!--공통: ID(email)만 입력 가능-->
                    <div class="form-group">
                        <label class="label" for="user">ID(Email)</label>
                        <input class="form-control" type="email" id="user" name="user" placeholder="email 입력">
                    </div>

                    <!--공통: 패스워드-->
                    <div class="form-group">
                        <label class="label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password">
                    </div>

                    <!--공통: 패스워드체크-->
                    <div class="form-group">
                        <label class="label" for="password_check">Password 확인</label>
                        <input class="form-control" type="password" id="password_check" name="password_check">
                    </div>

                    <!--파트너: 활동지역-->
                    <div class="form-group">
                        <label class="label" for="actv_area">활동지역</label>
                        <input class="form-control" type="text" id="actv_area" name="actv_area" placeholder="드롭다운변경, 아이디검토">
                    </div>

                    <!--파트너: 서비스업종-->
                    <div class="form-group">
                        <label class="label" for="svc_cd">서비스업종</label>
                        <input class="form-control" type="text" id="svc_cd" name="svc_cd" placeholder="드롭다운변경, 아이디검토">
                    </div>

                    <!--파트너: 작업가능공간종류-->
                    <div class="form-group">
                        <label class="label" for="work_spc_kind">작업공간종류....? 뭐였지 이거</label>
                        <input class="form-control" type="text" id="work_spc_kind" name="work_spc_kind" placeholder="드롭다운변경, 아이디검토">
                    </div>

                    <!--공통: 회원가입버튼-->
                    <button type="submit" class="btn btn-primary">회원가입</button>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

