{% extends "base.html" %}


{% block title %}
  <title>요청할거야!</title>
{% endblock %}

{% load static %}

{% block sytle %}
{% endblock %}


{% block content %}

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>요청할거야!!!</h1>
    <p class="lead">What?</p>
  </div>
</header>

<section class = 'col-lg-8 mx-auto'>
  <h2>요 청 글</h2>
  
  <table class = 'table'>
    <thead class = 'table th'>
      <tr>
        <th>#</th>
        <th>작성자</th>
        <th>제목</th>
        <th>게시일</th>
        <th>상세</th>
      </tr>
    </thead>
    {% for req in reqs %}
    <tbody class = 'table td'>
      <td>{{req.id}}</td>
      <td>{{req.reqr_username}}</td>
      <td><a href="{% url 'requests:detail' req.id %}">{{req.title}}</a></td>
      <td>{{req.mod_dtti}}</td>
      <td><a href="{% url 'requests:detail' req.id %}">자세히보기</a></td>
    </tbody>
    {% endfor %}

  </table>
  <div><a class = "btn btn-primary" href = "{% url 'requests:new' %}">글쓰기</a></div>
</section>
{% endblock %}

