{% extends "base.html" %}


{% block title %}
  <title>요청할거야!</title>
{% endblock %}

{% load static %}

{% block sytle %}
{% endblock %}


{% block content %}

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>요청할거야!!!</h1>
    <p class="lead">What?</p>
  </div>
</header>

<section>
  <h2>요 청 글</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>작성자</th>
        <th>제목</th>
        <th>게시일</th>
        <th>상세</th>
      </tr>
    </thead>
    <tbody>
      <td>1</td>
      <td>영호</td>
      <td>하드코딩</td>
      <td> 08.01</td>
      <td> 처음글이다잉</td>
    </tbody>
  </table>
</section>
{% endblock %}

