{% extends "base.html" %}


{% block title %}
  <title>요청할거야!</title>
{% endblock %}

{% load static %}

{% block sytle %}
{% endblock %}


{% block content %}

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>요청할거야!!!</h1>
    <p class="lead">What?</p>
  </div>
</header>

<section class = 'col-lg-8 mx-auto'>
  <h2>요 청 글</h2>
  
  <table class = 'table table-hover'>
    <thead class = 'table th'>
      <tr>
        <th>#</th>
        <th>작성자</th>
        <th>제목</th>
        <th>게시일</th>
        <th>상세</th>
      </tr>
    </thead>
    {% for req in reqs %}
    <tbody class = 'table td'>
      <td>{{req.id}}</td>
      <td>{{req.reqr_username}}</td>
      <td><a href="{% url 'requests:detail' req.id %}">{{req.title}}</a></td>
      <td>{{req.mod_dtti}}</td>
      <td><a href="{% url 'requests:detail' req.id %}">자세히보기</a></td>
    </tbody>
    {% endfor %}

  </table>
  <div><a class = "btn btn-primary" href = "{% url 'requests:new' %}">글쓰기</a></div>

  <div>
    <ul class="pagination" style = "justify-content: center;">
      {% if contacts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page = 1">처음페이지</a></li>    
        <li class="page-item"><a class="page-link" href="?page={{contacts.previous_page_number}}">이전</a></li>
      {% endif %}
       Page {{contacts.number }} of {{contacts.paginator.num_pages}}

      {% if contacts.has_previous %}
        {% for i in 12345 %}
        <li class="page-item"><a class="page-link" href="">#</a></li>  
        {% endfor %}    
      {% endif %}
       <li class="page-item"><a class="page-link" href="?page = {{ contacts.number }}">1</a></li> 
      
      {% if contacts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">다음</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ contacts.paginator.num_pages }}">끝으로</a></li>
      {% endif %}
      
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </div>
</section>
{% endblock %}

