.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.card-text {
    width : 50vh;
}

.carousel-item {
    width: 100%;
    height: 40vh;
    object-fit: contain; 
}

.form-group .yyyy {
    display: inline;
    width: 100px;
}

.form-group .mm {
    display: inline;
    width: 75px;
}

/* .left-align {
    text-align: left;
} */

.form-group .inline .juso{
    display: inline;
    width: 500px;
}

.form-group .inline .search{
    display: inline;
    width: 100px;
}

.form-group .inline .sido{
    display: inline;
    width: 250px;
}

.form-group .inline .sigungu{
    display: inline;
    width: 350px;
}

div .inline{
    display: inline;
}
